body {
  background-color: #012634;
}

h1 {
  text-align: center;
  color: grey;
}
p {
  color: grey;
  text-align: center;
}

a {
  display: block;
}
.sitat {
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}
a {
  text-align: center;
}
img {
  width: 200px;
  border-radius: 50%;
  border-color: gray;
  border-width: 4px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
